#
# Send a notification via Notificiation Centre
#

function send_notification() {
  osascript -e "display notification \"$1\" with title \"$2\"" &>/dev/null
}

#
# This is a Private Repo that you won't be able to access unless you've been given permission to do so.
#

function gulpinvited () {
  git clone git@bitbucket.org:KrooKedUK/gulp-gi.git "$1"
  cd $1
  ln -s $GICORE build/scss/core
  rm -rf .git
  git init
  npm install
  gulp
}

function listappstoreapps() {
  if [ -z "$1" ]
  then
    find /Applications -path '*Contents/_MASReceipt/receipt' -maxdepth 4 -print |\sed 's#.app/Contents/_MASReceipt/receipt#.app#g; s#/Applications/##'
  else
    find /Applications -path '*Contents/_MASReceipt/receipt' -maxdepth 4 -print |\sed 's#.app/Contents/_MASReceipt/receipt#.app#g; s#/Applications/##' > ~/Desktop/$1.md
    send_notification "List of Mac App Store apps saves to the desktop." "App Store Apps"
  fi
}