#
# Send a notification via Notificiation Centre
#

function send_notification() {
  osascript -e "display notification \"$1\" with title \"$2\"" &>/dev/null
}

#
# This is a Private Repo that you won't be able to access unless you've been given permission to do so.
#

function gulpinvited () {
  git clone git@bitbucket.org:KrooKedUK/gulp-gi.git "$1"
  cd $1
  ln -s $GICORE build/scss/core
  rm -rf .git
  git init
  npm install
  gulp
}

function makepdf () {
  length=$(last | find . -name "$1.html" -exec grep -i 'GET-[0-9*]' {} \;)
  length=${${length/<p>/}}
  length=${${length/<\/p>/}}
  length=${${length/ /}}
  #length=$length | sed '/^$/d;s/[[:blank:]]//g'
  length=${length//[[:blank:]]/}
  wkhtmltopdf --margin-bottom 0 --margin-top 0 --margin-left 0 --margin-right 0 --quiet $1.html $length.pdf
  echo "Invoice $length has been saved."
}

function makeminute () {
  wkhtmltopdf --margin-bottom 0 --margin-top 0 --margin-left 0 --margin-right 0 --quiet $1.html $1.pdf
  echo "$i has been saved."
}

function makepdfs () {
  for FILE in *.html; do makepdf ${${FILE/.html/}}; done
}

function makeminutes () {
  for FILE in *.html; do makeminute ${${FILE/.html/}}; done
}

function listappstoreapps() {
  if [ -z "$1" ]
  then
    find /Applications -path '*Contents/_MASReceipt/receipt' -maxdepth 4 -print |\sed 's#.app/Contents/_MASReceipt/receipt#.app#g; s#/Applications/##'
  else
    find /Applications -path '*Contents/_MASReceipt/receipt' -maxdepth 4 -print |\sed 's#.app/Contents/_MASReceipt/receipt#.app#g; s#/Applications/##' > ~/Desktop/$1.md
    send_notification "List of installed Mac App Store apps saved to the desktop." "Installed App Store Apps"
  fi
}

function listapps() {
  if [ -z "$1" ]
  then
    ls /Applications/
  else
    ls /Applications/ > ~/Desktop/$1.md
    send_notification "List of instaler apps saved to the desktop." "Installed Apps"
  fi
}
